<div id="<%= dom_id(workflow) %>" class="p-4 bg-white shadow-md rounded-lg">
  <p class="text-gray-700">
    <strong class="font-bold text-gray-900">Url:</strong>
    <%= workflow.url %>
  </p>

  <p class="text-gray-700 mt-2">
    <strong class="font-bold text-gray-900">Name:</strong>
    <%= workflow.name %>
  </p>
</div>
