<h1 class="text-3xl font-bold mb-6">New Workflow</h1>

<%= render "form", workflow: @workflow %>

<br>

<div class="mt-4">
  <%= link_to "Back to workflows", workflows_path, class: "text-blue-500 hover:text-blue-700 underline" %>
</div>
